:root{
  --modal-duration: 1s;
  --primary-color: #30336b;
  --seconday-color: #be2edd;
}



.modal-body {
  margin-left: 0px;
}

*{
  box-sizing: border-box;
}

body{
  background-color: white;
}


.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
}

  
/* Try 300px */
.album-container {
  background-color: #f1f1f1;
  height: 420px;
  width: 300px;
  margin: 10px;
  align-items: center;
  text-align: center;
  
  
  border-style: solid;
}
.album-info {
  padding-top: 10px;
  line-height: 10px;
  font-size: 20px;
}

.cta-btn {
  padding: 5px;
  margin: -5px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

/* .modal-container {
  background-color: rgba(0,0,0,0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.modal-container.show-modal {
  display: block;
}

/* .modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
} */

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3{
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.my_button {
  display: block;
  width: 100%;
  border: solid;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}